## Booleans

Booleans represent one of two values: `True` or `False`. They are often used in conditional statements and control flow.

### Boolean Values

In Python, the boolean values are `True` and `False`. They are the result of comparison operations or logical operations.

In [ ]:
a = True
b = False

print(a)  # Output: True
print(b)  # Output: False

### Comparison Operators

Comparison operators are used to compare two values. They return either `True` or `False`.

- `==` : Equal to
- `!=` : Not equal to
- `>` : Greater than
- `<` : Less than
- `>=` : Greater than or equal to
- `<=` : Less than or equal to

#### Examples

In [ ]:
# Comparing integers

x = 10
y = 20

print(x == y)  # Output: False
print(x != y)  # Output: True
print(x > y)   # Output: False
print(x < y)   # Output: True
print(x >= y)  # Output: False
print(x <= y)  # Output: True

### Logical Operators

Logical operators are used to combine conditional statements. They include:

- `and` : Returns `True` if both statements are true
- `or` : Returns `True` if one of the statements is true
- `not` : Reverses the result, returns `False` if the result is true

#### Examples

In [ ]:
a = True
b = False

print(a and b)  # Output: False
print(a or b)   # Output: True
print(not a)    # Output: False

### Boolean Functions

Several built-in functions return boolean values:

- `bool()`: Converts a value to a boolean
- `isinstance()`: Checks if an object is an instance of a specified class or type

#### Examples

In [ ]:
# Using bool() function
print(bool(0))     # Output: False
print(bool(1))     # Output: True
print(bool(""))    # Output: False
print(bool("Hello"))  # Output: True

# Using isinstance() function
x = 10
print(isinstance(x, int))  # Output: True
print(isinstance(x, str))  # Output: False

In Python, several values are considered "falsy," meaning they evaluate to `False` in a Boolean context. Understanding these falsy values can help you write more concise and readable code, especially in conditional statements.

#### Falsy Values

1. **The Boolean value `False`**
2. **The special value `None`**
3. **Zero of any numeric type**:
   - `0` (integer)
   - `0.0` (floating-point)
   - `0j` (complex number)

4. **Empty sequences and collections**:
   - `''` (empty string)
   - `[]` (empty list)
   - `()` (empty tuple)
   - `{}` (empty dictionary)
   - `set()` (empty set)
   - `frozenset()` (empty frozenset)

5. **Other empty containers**:
   - `bytearray(b'')` (empty byte array)
   - `bytes()` (empty bytes object)
   - `range(0)` (empty range)

# Challenge

## Comparison and Logical Operators with Different Data Types

### Comparison Operators

Comparison operators can be used with different data types such as strings, lists, and tuples.

**Think about what the answer should be before running the cell try to build up your intuition of how the code runs**

#### Examples with Strings

In [ ]:
# Comparing strings (lexicographically)
str1 = "apple"
str2 = "banana"

print(str1 == str2)   
print(str1 != str2)   
print(str1 < str2)    
print(str1 > str2)

#### Examples with Lists

In [ ]:
# Comparing lists (element wise)
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = [4, 5, 6]

print(list1 == list2)  
print(list1 != list3)   
print(list1 < list3)   
print(list1 > list3)

#### Examples with Tuples

In [ ]:
# Comparing tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

print(tuple1 == tuple2)
print(tuple1 != tuple3)   
print(tuple1 < tuple3)    
print(tuple1 > tuple3)

### Logical Operators

#### Examples with numbers

In [ ]:
# Logical operators with numbers
num1 = 0
num2 = 1
num3 = -5

print(num1 and num2)  
print(num2 and num3)  
print(num1 or num2)   
print(num1 or num3)   
print(not num1)       
print(not num2)

#### Examples with Strings

In [ ]:
# Logical operators with strings
str1 = ""
str2 = "Hello"

print(str1 and str2)  
print(str2 and str1)  
print(str1 or str2)  
print(not str1)     
print(not str2)

#### Example with Lists

In [ ]:
# Logical operators with lists
list1 = []
list2 = [1, 2, 3]

print(list1 and list2) 
print(list2 and list1) 
print(list1 or list2)   
print(not list1)      
print(not list2)

#### Example with Tuples

In [ ]:
# Logical operators with tuples
tuple1 = ()
tuple2 = (1, 2, 3)

print(tuple1 and tuple2) 
print(tuple2 and tuple1) 
print(tuple1 or tuple2)  
print(not tuple1)       
print(not tuple2)